repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: docs/package-lock\.json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: ["--min-confidence", "80", "quantalytics"]
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-q", "-c", "pyproject.toml", "-r", "quantalytics"]
        pass_filenames: false

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: docs/package-lock\.json
        additional_dependencies: ["tomli>=1.1"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt

  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: uv run safety scan --full-report --file uv.lock
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run pytest --cov=quantalytics --cov-report=term-missing --cov-fail-under=92
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        pass_filenames: false
